html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mui-appbar {
  padding: 0 20px;
}

#page-container {
  width: 100%;
  height: calc(100% - 77px);
}

#code-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#codeinput {
  width: 100%;
  height: 100%;
}

.graphicswindow {
  border: 1px solid gray;
}
.graphicswindow canvas,
.graphicswindow div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.output-window-title {
  width: 100%;
  height: 22px;
  background-color: darkblue;
  color: white;
}

.output-window-content {
  position: relative;
  width: 100%;
  height: calc(100% - 22px);
  padding: 2px;
}*/
